drop schema if exists treinabonnement;

create schema treinabonnement;

use treinabonnement;

create table Klant (
	id int auto_increment primary key,
    voornaam varchar(25) not null,
    naam varchar(25) not null,
    email varchar(25) not null unique
);

create table Station (
	id int auto_increment primary key,
    naam varchar(50) not null unique,
    verwarmde_wachtruimte boolean not null default false
);

create table Abonnement (
	id int auto_increment primary key,
    klant_id int not null,
    vertrek_station_id int not null,
    aankomst_station_id int not null,
    startdatum date not null,
    einddatum date not null,
    klasse enum('1','2') not null,
    
    constraint fk_abonnement_klant foreign key (klant_id) references Klant(id) on delete cascade,
    constraint fk_abonnement_vertrekstation foreign key (vertrek_station_id) references Station(id) on delete restrict,
    constraint fk_abonnement_aankomststation foreign key (aankomst_station_id) references Station(id) on delete restrict,
    
    CONSTRAINT chk_datum CHECK (startdatum <= einddatum),
    CONSTRAINT chk_verschillende_stations CHECK (vertrek_station_id <> aankomst_station_id)
);